# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.manifest
.installed.cfg
*.egg-info/
lib/
lib64/
__pycache__/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.coverage
.coverage.*
.cache
*.sqlite3
db.sqlite3

# Django migrations
**/migrations/
!**/migrations/__init__.py

# Private information
*.env

# Docker
*.log
docker-compose.override.yml
docker-compose.dev.yml
docker-compose.p
