/* General body styling */
body {
    background-color: #0E0E0E; /* Set background to black */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Window styling */
.window {
    background-color: #0E0E0E;
    border: 2px solid #FFD335;
    width: 800px;
    padding: 70px;
    position: relative;
}

/* Window header styling */
.window-header {
    background-color: #FFD335;
    height: 40px;
    display: flex;
    align-items: center;
    position: absolute;
    padding: 0 2px 2px 2px;
    top: 0;
    left: 0;
    right: 0;
}

/* Window content styling */
.window-mode-content {
    text-align: center;
    margin-top: 40px;
}

.window-mode-content h2 {
    color: white;
    margin-bottom: 40px;
}