body {
    background-color: #0E0E0E; /* Set background to black */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.window {
    background-color: #0E0E0E;
    border: 2px solid #FFD335;
    width: 800px;
    padding: 70px;
    position: relative;
}

.window-header {
    background-color: #FFD335;
    height: 40px;
    display: flex;
    align-items: center;
    position: absolute;
    padding-bottom: 2px;
    padding-left: 2px;
    top: 0px;
    left: 0;
    right: 0;
}

.window-header .close-button {
    background-color: #0E0E0E;
    border: solid 2px #F55C4D;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 2px;
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth effect */
}

.window-header .close-button:after {
    content: '×';
    color: #F55C4D;
    font-size: 30px;
    transition: color 0.3s; /* Add transition for smooth effect */
}

.window-header .close-button:hover {
    background-color: #F55C4D;
}

.window-header .close-button:hover:after {
    content: '×';
    color: #0E0E0E;
}

.window-content {
    text-align: center;
    margin-top: 40px;
}

.window-content h2 {
    color: white;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
}

.setting {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.setting input[type="checkbox"] {
    margin-left: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    accent-color: #FFD335;
    border: solid 2px #FFD335;
}

.setting img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: border 0.3s; 
    border: solid 2px transparent; /* Default state */
}

.setting img:hover {
    border: solid 2px #FFD335;
}

.setting img.selected {
    border: solid 2px #FFD335; /* Selected state */
}
